/* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
.cards > ul {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

/* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
.cards > ul > li {
  background-color: var(--background-color);
  border: 1px solid #dadada;
}

/* stylelint-disable-next-line selector-max-compound-selectors */
.cards .cards-card-body {
  margin: 16px;
}

/* stylelint-disable-next-line selector-max-compound-selectors */
.cards .cards-card-image {
  line-height: 0;
}

/* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
.cards > ul > li img {
  aspect-ratio: 4 / 3;
  inline-size: 100%;
  object-fit: cover;
}