.nav-wrapper {
  background-color: var(--background-color);
  inline-size: 100%;
  position: fixed;
  z-index: 2;
}

.nav {
  align-items: center;
  block-size: var(--nav-height);
  box-sizing: border-box;
  display: grid;
  font-family: var(--body-font-family), sans-serif;
  gap: 0 24px;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  margin: auto;
  max-inline-size: 1248px;
  padding: 0 24px;
}

.nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  min-block-size: 100dvh;
  overflow-y: auto;
}

@media (width >= 900px) {
  .nav {
    display: flex;
    gap: 0 32px;
    justify-content: space-between;
    max-inline-size: 1264px;
    padding: 0 32px;
  }

  .nav[aria-expanded='true'] {
    min-block-size: 0;
    overflow: visible;
  }
}

.nav__hamburger {
  align-items: center;
  block-size: 22px;
  display: flex;
  grid-area: hamburger;
}

.nav__hamburger-button {
  background-color: var(--background-color);
  block-size: 22px;
  border: 0;
  border-radius: 0;
  color: inherit;
  margin: 0;
  overflow: initial;
  padding: 0;
  text-overflow: initial;
  white-space: initial;
}

.nav__hamburger-button:hover,
.nav__hamburger-button:focus {
  background-color: var(--background-color);
}

.nav__hamburger-icon,
.nav__hamburger-icon::before,
.nav__hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  inline-size: 20px;
  position: relative;
}

.nav__hamburger-icon::before,
.nav__hamburger-icon::after {
  background: currentcolor;
  content: '';
  position: absolute;
}

.nav[aria-expanded='false'] .nav__hamburger-icon,
.nav[aria-expanded='false'] .nav__hamburger-icon::before,
.nav[aria-expanded='false'] .nav__hamburger-icon::after {
  background: currentcolor;
  block-size: 2px;
  border-radius: 2px;
}

.nav[aria-expanded='false'] .nav__hamburger-icon::before {
  inset-block-start: -6px;
}

.nav[aria-expanded='false'] .nav__hamburger-icon::after {
  inset-block-start: 6px;
}

.nav[aria-expanded='true'] .nav__hamburger-icon {
  block-size: 22px;
}

.nav[aria-expanded='true'] .nav__hamburger-icon::before,
.nav[aria-expanded='true'] .nav__hamburger-icon::after {
  block-size: 2px;
  border-radius: 2px;
  inline-size: 24px;
  inset-block-start: 3px;
  inset-inline-start: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
}

.nav[aria-expanded='true'] .nav__hamburger-icon::after {
  inset-block: auto 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  .nav__hamburger {
    display: none;
    visibility: hidden;
  }
}

.nav__section--brand {
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  grid-area: brand;
  line-height: 1;
}

/* stylelint-disable-next-line selector-max-type */
.nav__section--brand img {
  block-size: auto;
  inline-size: 128px;
}

.nav__brand:any-link,
.nav__brand:any-link:hover,
.nav__link a:any-link,
.nav__link a:any-link:hover {
  color: currentcolor;
}

.nav__section--links {
  display: none;
  flex: 1 1 auto;
  grid-area: sections;
  visibility: hidden;
}

.nav[aria-expanded='true'] .nav__section--links {
  align-self: start;
  display: block;
  visibility: visible;
}

.nav__links {
  font-size: var(--body-font-size-s);
  list-style: none;
  padding-inline-start: 0;
}

.nav__links > .nav__link {
  font-weight: 500;
}

.nav__link > .nav-links {
  margin-block-start: 0;
}

/* stylelint-disable-next-line selector-max-compound-selectors */
.nav__links > .nav__link > .nav-links > .nav__link {
  font-weight: 400;
}

@media (width >= 900px) {
  .nav__section--links {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  .nav[aria-expanded='true'] .nav__section--links {
    align-self: unset;
  }

  .nav__link--with-children {
    cursor: pointer;
    padding-inline-end: 16px;
    position: relative;
  }

  .nav__link--with-children::after {
    block-size: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    content: '';
    display: inline-block;
    inline-size: 6px;
    inset-block-start: 0.5em;
    inset-inline-end: 2px;
    position: absolute;
    transform: rotate(135deg);
  }

  .nav__link--with-children[aria-expanded='true']::after {
    inset-block: auto 0.5em;
    transform: rotate(315deg);
  }

  .nav__links {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  .nav__links > .nav__link {
    flex: 0 1 auto;
    position: relative;
  }

  .nav__link > .nav__links {
    display: none;
    position: relative;
  }

  .nav__link[aria-expanded='true'] > .nav__links {
    background-color: var(--light-color);
    display: block;
    inline-size: 200px;
    inset-block-start: 150%;
    inset-inline-start: -24px;
    padding: 16px;
    position: absolute;
    white-space: initial;
  }

  .nav__link > .nav__links::before {
    block-size: 0;
    border-block-end: 8px solid var(--light-color);
    border-inline-end: 8px solid transparent;
    border-inline-start: 8px solid transparent;
    content: '';
    inline-size: 0;
    inset-block-start: -8px;
    inset-inline-start: 16px;
    position: absolute;
  }

  /* stylelint-disable-next-line selector-max-compound-selectors */
  .nav__links > .nav__link > .nav-links > .nav__link {
    padding: 8px 0;
  }
}

.nav__section--tools {
  grid-area: tools;
}
