/* header and nav layout */
header .nav-wrapper {
    background-color: var(--background-color);
    inline-size: 100%;
    position: fixed;
    z-index: 2;
}

header nav {
    align-items: center;
    block-size: var(--nav-height);
    box-sizing: border-box;
    display: grid;
    font-family: var(--body-font-family);
    gap: 0 24px;
    grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
    margin: auto;
    max-inline-size: 1248px;
    padding: 0 24px;
}

header nav[aria-expanded='true'] {
    grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
    min-block-size: 100dvh;
    overflow-y: auto;
}

@media (width >= 900px) {
    header nav {
        display: flex;
        gap: 0 32px;
        justify-content: space-between;
        max-inline-size: 1264px;
        padding: 0 32px;
    }

    header nav[aria-expanded='true'] {
        min-block-size: 0;
        overflow: visible;
    }
}

header nav p {
    line-height: 1;
    margin: 0;
}

header nav a:any-link {
    color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
    align-items: center;
    block-size: 22px;
    display: flex;
    grid-area: hamburger;
}

header nav .nav-hamburger button {
    background-color: var(--background-color);
    block-size: 22px;
    border: 0;
    border-radius: 0;
    color: inherit;
    margin: 0;
    overflow: initial;
    padding: 0;
    text-overflow: initial;
    white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    inline-size: 20px;
    position: relative;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    background: currentcolor;
    content: '';
    position: absolute;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
    background: currentcolor;
    block-size: 2px;
    border-radius: 2px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
    inset-block-start: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
    inset-block-start: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
    block-size: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
    block-size: 2px;
    border-radius: 2px;
    inline-size: 24px;
    inset-block-start: 3px;
    inset-inline-start: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
    inset-block: auto 3px;
    transform: rotate(-45deg);
}

@media (width >= 900px) {
    header nav .nav-hamburger {
        display: none;
        visibility: hidden;
    }
}

/* brand */
header .nav-brand {
    flex-basis: 128px;
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    grid-area: brand;
    line-height: 1;
}

header nav .nav-brand img {
    block-size: auto;
    inline-size: 128px;
}

/* sections */
header nav .nav-sections {
    display: none;
    flex: 1 1 auto;
    grid-area: sections;
    visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
    align-self: start;
    display: block;
    visibility: visible;
}

header nav .nav-sections ul {
    font-size: var(--body-font-size-s);
    list-style: none;
    padding-inline-start: 0;
}

header nav .nav-sections ul > li {
    font-weight: 500;
}

header nav .nav-sections ul > li > ul {
    margin-block-start: 0;
}

header nav .nav-sections ul > li > ul > li {
    font-weight: 400;
}

@media (width >= 900px) {
    header nav .nav-sections {
        display: block;
        visibility: visible;
        white-space: nowrap;
    }

    header nav[aria-expanded='true'] .nav-sections {
        align-self: unset;
    }

    header nav .nav-sections .nav-drop {
        cursor: pointer;
        padding-inline-end: 16px;
        position: relative;
    }

    header nav .nav-sections .nav-drop::after {
        block-size: 6px;
        border: 2px solid currentcolor;
        border-radius: 0 1px 0 0;
        border-width: 2px 2px 0 0;
        content: '';
        display: inline-block;
        inline-size: 6px;
        inset-block-start: 0.5em;
        inset-inline-end: 2px;
        position: absolute;
        transform: rotate(135deg);
    }

    header nav .nav-sections .nav-drop[aria-expanded='true']::after {
        inset-block: auto 0.5em;
        transform: rotate(315deg);
    }

    header nav .nav-sections ul {
        display: flex;
        gap: 24px;
        margin: 0;
    }

    header nav .nav-sections .default-content-wrapper > ul > li {
        flex: 0 1 auto;
        position: relative;
    }

    header nav .nav-sections .default-content-wrapper > ul > li > ul {
        display: none;
        position: relative;
    }

    header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
        background-color: var(--light-color);
        display: block;
        inline-size: 200px;
        inset-block-start: 150%;
        inset-inline-start: -24px;
        padding: 16px;
        position: absolute;
        white-space: initial;
    }

    header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
        block-size: 0;
        border-block-end: 8px solid var(--light-color);
        border-inline-end: 8px solid transparent;
        border-inline-start: 8px solid transparent;
        content: '';
        inline-size: 0;
        inset-block-start: -8px;
        inset-inline-start: 16px;
        position: absolute;
    }

    header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
        padding: 8px 0;
    }
}

/* tools */
header nav .nav-tools {
    grid-area: tools;
}
