/* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
main > .section > .hero-wrapper {
  max-inline-size: unset;
  padding: 0;
}

.hero {
  min-block-size: calc(300px + (40px * 2));
  padding: 40px 24px;
  position: relative;
}

.hero__heading {
  color: var(--background-color);
  margin-inline: auto;
  max-inline-size: 1200px;
}

.hero__media {
  box-sizing: border-box;
  inset: 0;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.hero__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}
