.hero-container .hero-wrapper {
  max-inline-size: unset;
  padding: 0;
}

.hero {
  min-block-size: 300px;
  padding: 40px 24px;
  position: relative;
}

.hero h1 {
  color: var(--background-color);
  margin-inline: auto;
  max-inline-size: 1200px;
}

.hero picture {
  box-sizing: border-box;
  inset: 0;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.hero img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}