.carousel {
  margin: 24px 0;
  overflow: hidden;
  position: relative;
}

.carousel__slides {
  display: flex;
  inline-size: 100%;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  scroll-behavior: smooth;
}

.carousel__slide {
  block-size: 100%;
  display: grid;
  flex: 1 0 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  inline-size: 100%;
}

.carousel__picture {
  display: block;
  grid-area: 1 / 1 / 2 / 2;
}

.carousel__picture img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.carousel__caption {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  grid-area: 1 / 1 / 2 / 2;
  justify-content: flex-end;
  text-align: center
}

.carousel__caption-content {
  background-color: rgb(0 0 0 / 50%);
  padding: 24px;
}

.carousel__caption-content h3 {
  margin-block-start: 0;
}

.carousel__arrow {
  background-color: white;
  block-size: 4rem;
  border: none;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 3rem;
  inline-size: 2rem;
  inset-block: 0;
  margin: auto;
  opacity: 0.5;
  padding: 0;
  position: absolute;
  transition: opacity 100ms;
}

.carousel__arrow:hover,
.carousel__arrow:focus {
  background-color: white;
  opacity: 1;
}

.carousel__arrow--previous {
  border-radius: 0 2rem 2rem 0;
  inset-inline-start: 0;
  padding-inline-start: 0.25rem;
}

.carousel__arrow--next {
  border-radius: 2rem 0 0 2rem;
  inset-inline-end: 0;
  padding-inline-start: 0.75rem;
}