footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

/* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
.footer > div {
  margin: auto;
  max-inline-size: calc(1200px + (24px * 2));
  padding: 40px 24px 24px;
}

@media (width >= 900px) {
  /* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
  .footer > div {
    max-inline-size: calc(1200px + (32px * 2));
    padding: 40px 32px 24px;
  }
}
